<div class= "header">
  <div class=" mx-auto  p-5">
          <nav class="flex justify-between">
              <div class='flex'>
                <div class="pr-5">
                  <a href="#"><img class='object-contain h-20' src='https://a.mktgcdn.com/p/eEScuRbWJ_wg43YUVTraB3vfeDDbSEZC2aFGjwBLG7w/316x316.png'></a>
                </div>
                <ul class="flex flex-row text-xl font-bold text-blue-900 ">
                  {{>headerLinks}}
                </ul>
              </div>
              <div>
                <div class="float-right">
                  <button class='bg-blue-900 rounded-md text-white px-8 py-2 mt-8 '>
                    <a href="https://www.dime.com/#signin">Sign In</a>
                  </button>
                </div>
              </div>
          </nav>
    </div>
</div>