---
{
    "stream": {
        "$id": "sites-landingPages",
        "source": "knowledgeGraph",
        "destination": "pages",
      "fields": [
        "id",
        "uid",
        "name",
        "slug",
        "c_inventory.name",
        "c_inventory.id"
        "c_inventory.description",
        "c_inventory.slug",
        "c_inventory.price",
        "c_inventory.color",
        "c_inventory.photoGallery"
      ],
      "filter": {
        "entityTypes": [
          "products"
        ]
      }
    },
    "urlFormat": "{{slug}}"
}
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}}</title>
    <meta name="description" content=Browse through our selection.>
    {{>head}}
    {{!-- <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> --}}
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">

  {{>styles}}

</head>

    <body>
        
    {{>navbar}}

    </body> 

{{>footer}}

</html>